<nav class="navbar  sticky-top navbar-expand-lg navbar-dark bg-dark" id="footer">

    <div class="container">
        <div class="row">
            <div class="copyright">
                <p class="text-center">
                    Copyright &copy; {{ anio }} <strong>José García</strong>. All Rights Reserved
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="middle">
                <a class="btn1" href="https://es-la.facebook.com/" target="_blank">
                    <i class="fa fa-facebook-f"></i>
                </a>
                <a class="btn1" href="https://twitter.com/" target="_blank">
                    <i class="fa fa-twitter"></i>
                </a>
                <a class="btn1" href="https://www.instagram.com/?hl=es-la" target="_blank">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</nav>